* {
    box-sizing: border-box;
    /*border: 1px solid red !important*/
}

html, body {
    background-image: linear-gradient(to top, #2109B6, lightblue);
    padding: 0;
    margin: 0;
}

/* ***NAVIGATION LINKS SECTION *** */

/*styling the nav bar*/
#nav-bar {
  padding: 2vw 2vw 0;
  margin: 8px 8px 0;
}

#main-content {
  padding-top: 2vh;
}

/* styling the home page background image */

#front {
  width: 100%;
}

.frontCenter {
  display: flex;
  position: relative;
  width: 65%;
  margin: 0 auto;
}

.frontContainerLeft {
  text-align: center;
}

/*styling the homepage JoyBot image*/
#joypic {
  width: 19em;
  height: 35em;
  /* width: 95%;
  height: auto; */
  align-self: flex-end;

  opacity: 0.9;
  text-align: center;

}

.frontContainerRight {
    width: 100%;
    margin: 0 2vw;
    display: flex;
    position: relative;
}

/*styling the JoyBot website title*/
#titleDescCntr {
    margin-top: auto;
    position: absolute;
    bottom: 20px;
}

#websiteTitle {
    font-size: 5.5vw;
    margin: 0 0 10px 0;

    color: #FFFFFF;
}


/*styling the website description*/
#websiteDescription {
    font-size: 18px;

    color: #FFFFFF;
}


/*styling the background image of frontPage 2*/
#frontPage2 {
    color: white;
    /* width: 100%; */
    /* margin: 0 auto; */
    text-align: center;
    padding: 3vh 6vw;
    padding: 2rem 0;
    flex-grow: 2;

    background-image: url("img/homePage2background.png");
    background-color: rgba(33, 9, 182, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* styling of moodtracker, mood randomizer, and Joybot icon on home page 2 */
#moodtracker-box, #moodrandomizer-box, #JoyBot-box {
  text-align: center;
  display: flex;
  margin-bottom: 4vh;
  align-items: center;
  justify-content: center;
}

#JoyBot-box {
    margin-bottom: 0;
}

.image-icons {
  background-color: white;
  border-radius: 10px;
  width: 13em;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-desc {
  width: 15em;
  margin-left: 1em;
}

.image-desc p, .image-desc h2 {
  margin: 1vh 0;
}


/* sizing the icons to fit the box */
#mood-tracker-icon, #mood-randomizer-icon {
  width: 7em;
  height: 5.5em;
}

#joy-image-icon {
    width: 4.5em;
}


@media only screen and (max-width: 900px) {
    .frontCenter {
      width: 85%;
    }
}


@media only screen and (max-width: 700px) {

    .frontCenter {
      display: block;
      width: 80%;
      margin: 0 auto;
    }

    #titleDescCntr {
      bottom: 0;
    }

    #websiteTitle, #websiteDescription {
      color: white;
    }

    #websiteTitle {
      font-size: 40px;
    }

    #joy-image-section {
      margin: 0 auto;
    }

    #joypic {
      width: 20em;
      max-width: 100%;
      opacity: 0.4;
    }

    .frontContainerRight {
        margin-left: 0;
    }

    #moodtracker-box, #moodrandomizer-box, #JoyBot-box {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
      margin-bottom: 3vh;
      padding: 0 15vw;
    }

    .image-icons, .image-desc {
      margin-left: 0;
      text-align: center;
    }

    .image-desc {
        width: 100%;
    }

    .image-desc p {
        font-size: 17px;
    }
}
