h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
}

/* .dropdown {
    text-align: center;
    left: 50%;
    margin: 0 auto;
    font-family: 'Red Hat Display';
    width: 120px;
    height: 30px;
} */

.hi {
    background-color: black;
    font-family: 'Red Hat Display';
    color: white;
    width: 200px;
    height: 40px;
    outline-color: black;
    border-radius: 15px;
    font-size: 20px;
}
#selectpicker {
    font-size: 17px;
    border-radius: 7px;
    padding: 0.5vw;
}
label {
    font-size: 25px;
    color: white;
}

/* .form-control {
    width: auto;
    display: inline-block;
}
/* .form-select {
    font-size: 10px;
} */
/* label {
    font-size: 20px;
    color: white;
} */
