#main-content {
    margin: 2vh 0;
}

h3 {
    text-align: center;
    color: white;
    margin-top: 0px;
}

.space {
    margin-top: 5px;
}


/*mood slider*/

.choose_mood {
    width: 60%;
    margin: auto;
    text-align: center;
}

.mood_emoji {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    margin-bottom: -15px;
}

.mood_emoji img {
    position: relative;
    justify-content: center;
    margin: auto;
    width: 30px;
}

.tickmarks {
    display: flex;
    width: 68%;
    text-align: center;
    margin: auto;
    margin-bottom: -20px;
    justify-content: space-between;
    color: white;
}

.rate {
    width: 70%;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 20px;
    background-color: white !important;
    outline: none;
    opacity: 0.9;
}

.rate:hover {
    opacity: 1;
}

.rate::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #C4C4C4;
}


/*journal entry*/

.entrydetails {
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
    text-align: center;
}

.notes {
    background: linear-gradient(180deg, #FFFFFF 30.73%, #C4E2FF 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.notes textarea {
    width: 95%;
    resize: none;
    margin-bottom: 2%;
    border: 1px solid black;
}

.notes textarea:focus {
    border: 1px solid black;
}

@media only screen and (max-width: 450px) {
    h3 {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
    }
    .choose_mood {
        width: 95%;
    }
    .mood_emoji {
        text-align: center;
        justify-content: center;
    }
    .tickmarks {
        display: flex;
        width: 67%;
    }
    .rate {
        width: 70%;
    }
    button {
        padding: 7px 7vw;
    }
}
