
.login_container, .signup_container {
    background-color: #E8E8FF;
    width: 50vw;
    display: block;
    margin: 0 auto;
    position: relative;
    transform: translateY(5vh);
    border: 1px solid black;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
}

.close_btn {
    /*font-size: 25px;*/
    width: 30px;
    height: 30px;
}
.close_btn:hover {
    cursor: pointer;
}

fieldset {
    margin: 0 0 1.5vh;
}

.input {
    background-color: #FFFFFF;
    border: none;
    width: 100%;
    padding: 7px 0;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Red Hat Display';
    /* display: block;
    margin: 0 auto; */
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

::placeholder {
    color: #000000;
}

.indent {
    padding-left: 10px;
    margin: 0 0 1vh;
}
.indent:last-of-type {
  margin-top: 1vh;
}
.italicize {
    font-style: italic;
}
.failure {
    color: red;
}

@media only screen and (max-width: 450px) {

    .login_container, .signup_container {
        width: 90%;
    }

}
