html, body {
    background-image: url("img/bg.png");
    background-attachment: fixed;
    background-size: cover;
    padding: 1vw;
    font-family: 'Red Hat Display', sans-serif !important;
}

#nav-bar {
    position: relative;
    font-size: 17px;
}

#nav-bar a, #nav-bar span {
    text-decoration: none;
    color: white;
}

.mobile {
    display: flex;
    justify-content: space-between;
}

.navbarlink{
    margin: 0 2vw 0 0 !important;
}

#nav-bar span {
    margin: 0;
}

.active {
    font-weight: 700;
}

#toggle {
    cursor: pointer;
    font-size: 22px;
    position: relative;
    color: white;
}

#pages, .dropdown {
    display: none;
}

#pages {
    position: absolute;
    z-index: 1;
    right: 0;
    border: 1px solid gray;
    background-color: black;
}

#pages a{
    margin: 3px 0;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 3vw;
    padding: 0 1vw;
}

.right {
    border-top: 1px solid lightgray;
}

.center {
    text-align: center;
}

.black_btn {
    padding: 7px 10vw;
    border-radius: 10px;
    outline: none;
    border: 0;
    background: black;
    color: white;
    font-size: 17px;
    /*margin-top: 1vh;*/
}

.black_btn:hover {
    cursor: pointer;
}

/* desktop and tablet navbar view */
@media only screen and (min-width: 550px) {

    .mobile {
        display: none;
    }

    #pages {
        display: flex;
        position: static;
        width: 100%;
        border: 0;
        background-color: transparent;
    }

    .dropdown {
        display: block;
        color: white;
    }

    #nav-bar {
        margin-bottom: 1.5vh;
        font-size: 16px;
    }

    #nav-bar a, #nav-bar span, .dropdown {
        margin: 0 2vw;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }

    .left a:first-of-type {
        margin-left: 0 !important;
    }

    .left, .right {
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .right {
        margin-left: auto;
        border: 0;
    }

    /* styling dropdown */
    .dropdown {
        position: relative;
    }

    .dropdown .dropdownbtn {
        border: none;
        outline: none;
        background-color: inherit;
        font-size: inherit;
        font-family: inherit;
        color: white;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: black;
        text-align: center;
        /* margin: 0; */
        padding: 3px 0;
        border: 1px solid gray;
        margin-top: 2px;

    }

    .dropdown-content a {
        margin: 0 !important;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

}
