<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="../static/style.css" rel="stylesheet">
        <link href="../static/signuplogin.css" rel="stylesheet">
        <script src="../static/scripts/linking.js"></script>

        <title>
            Log In
        </title>
    </head>

    <body>
        <!--
         <nav class="nav navbar-default">
            <div class="nav navbar-nav left">
                <a href=""><b>MoodTracker</b></a>
                <a href=""><b>MoodRandomizer</b></a>
                <a href=""><b>JoyBot</b></a>
                <div class="nav navbar-nav right">
                    <a href="">LogIn</a>
                </div>
            </div>
         </nav>

        <div class="center" style="color: #ffffff; background-color: transparent;">
            <h1>Log In</h1>
        </div>
        <div class="center">
            <form>
                <input type="text" id="Username" name="Username" placeholder="Username">
            </form>
        </div>
        <div class="center">
            <form>
                <input type="password" id="pwd" name="pwd" placeholder="Password">
            </form>
        </div>
       <div class="center" style="background-color:#A09EFF; width: 450px; line-height: 100px; margin-top: 80px">
           <a href="">Log In</a>
       </div> -->

       <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor%}
            {% endif %}
        {% endwith%} -->

        <div class="login_container">
            <div style="text-align: right">
                <img src="../static/img/x.png" class="close_btn">
                <i class="fas fa-times"></i>
            </div>
            {% with messages = get_flashed_messages(category_filter=["message"]) %}
                 {% if messages %}
                     {% for message in messages %}
                         <div class="center" style="margin-bottom: 1vh">
                             {{ message }}
                         </div>
                     {% endfor%}
                 {% endif %}
             {% endwith%}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Log In</legend>
                    <div>
                        {{ form.username.label }}
                        {{ form.username(class="input", placeholder="Enter Username") }}
                    </div>
                    <div>
                        {{ form.password.label }}
                        {{ form.password(class="input", placeholder="Enter Password") }}
                    </div>
                </fieldset>
                {% with messages = get_flashed_messages(category_filter=["failure"]) %}
                     {% if messages %}
                         {% for message in messages %}
                             <div class="indent failure">
                                 <span>{{ message }}</span>
                             </div>
                         {% endfor%}
                     {% endif %}
                 {% endwith%}
                <div class="center">
                    {{ form.submit(class_="black_btn") }}
                </div>
            </form>
            <div class="indent">
                <span class="italicize">Need an account? <a href="{{ url_for('signup') }}">Sign Up</a></span>
            </div>
        </div>

    </body>
</html>
