{% extends 'base.html' %}

{% block stylesheet %}
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/MoodRandomizerLaugh.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block title %}
    JoyBot | MoodRandomizer
{% endblock %}

{% block content %}

    <div class="center">

        <h1>Relaxed</h1>

        <!-- <div class = "" -->

        <h2>Sit back, relax and enjoy this!</h2>
        <!-- <br> -->
        <iframe width="600" height="315" src="https://www.youtube.com/embed/F4we73GHH9k">
        </iframe>
        <br>
        <br>

        <button class="hi" type="button">Show me another!</button>

    </div>

{% endblock %}
