<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../static/MoodRandomizerLaugh.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        h1 {
            text-align: center;
            color: white
        }
        p {
            text-align: center;
            color: white

        }
        body {
            font-family: 'Red Hat Display';font-size: 22px;
        }
        button {
            text-align: center;
        }
    </style>

    <title>Mood Randomizer</title>
    
  </head>  
  <body>

    <nav class="nav navbar-default">
        <div class="nav navbar-nav left">
            <a href=""><b>mood tracker</b></a>
            <a href=""><b>mood randomizer</b></a>
            <a href=""><b>JoyBot</b></a>
            <div class="nav navbar-nav right">
                <a href="">log in</a>
            </div>
        </div>
    </nav>

    <h1 style="text-align:center">Mood Randomizer</h1>

    <p>
        I want to feel...
        <select class="selectpicker">
        <option>Relaxed</option>
        <option>Amused</option>
        <option>Motivated</option>
      </select>
    </p>


    <div style="text-align:center;">
        <button type="button" onclick="alert('Hello world!')">Go!</button>
    </div>


</body>

</html>