<!DOCTYPE html>
<html>
    <head>
        <link href="mood.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="navbar">
            <div class="left">
                <a href="">Tracker</a>
                <a href="">Shuffle</a>
                <a href="">JoyBot</a>
            </div>
            <div class="right">
                <a href="">log in</a>
            </div>
        </div>
        <br>

        <div class="datecal">
            <span><img src="calendar.png" alt="cal_icon">&nbsp&nbsp 10/28/20</span>
        </div>
        <br>

        <div class="container">
            <div class="profile">
                <div class="userpic">
                    <img src="user.png" alt="profile pic">
                </div>
                <p>Name</p>
            </div>

            <div class="journal">
                <div class="header">
                    <span>Journal Entries<img src="plus.png" alt="add entry" width="2%"></span>
                </div>
                <div class="wrapper">
                    <div class="grid">
                        <div class="entry">
                            <div class="content">
                                <p class="title">#2</p>
                                <p>#2 content hereeeeeeeee</p>
                            </div>
                            <div class="controls">
                                <span><img src="edit.png" alt="edit entry"><img src="trash.png" alt="trash"></span>
                            </div>
                        </div>
                        <div class="entry">
                            <div class="content">
                                <p class="title">#2</p>
                                <p>#2 content hereeeeeeeee</p>
                            </div>
                            <div class="controls">
                                <span><img src="plus.png" alt="add entry"><img src="plus.png" alt="add entry"></span>
                            </div>
                        </div>
                        <div class="entry">
                            <div class="content">
                                <p class="title">#2</p>
                                <p>#2 content hereeeeeeeee</p>
                            </div>
                            <div class="controls">
                                <span><img src="plus.png" alt="add entry"><img src="plus.png" alt="add entry"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
