{% extends 'base.html' %}

{% block stylesheet %}
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/moodrating.css" rel="stylesheet">
{% endblock %}


{% block title %}
    JoyBot | MoodRating
{% endblock %}

{% block content %}

    <h3>What would you rate your mood today?</h3>

    <form action="#" method="post">
        <div class="choose_mood">
            <div class="mood_emoji">
                <img src="../static/img/sad.png" alt="sad">
                <img src="../static/img/neutral.png" alt="neutral">
                <img src="../static/img/happy.png" alt="happy">
            </div>
            <div class="tickmarks">
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <p>|</p>
            </div>
            <input type="range" max="5" min="1" value="{{getEntry.mood_rate}}" class="rate" step="1" name="rating">
        </div>

        <br>

        <div class="entrydetails">
            <div class="notes">
                <p>Notes</p>
                {% if getEntry.title == "\r" %}
                    <textarea rows="17" cols="40" name="entrytext">{{ getEntry.title }}&#10;{{ getEntry.journal }}</textarea>
                {% else %}
                    <textarea rows="17" cols="40" name="entrytext">{{ getEntry.title }}{{ getEntry.journal }}</textarea>
                {% endif %}
            </div>
        </div>

        <div class="save_btn center">
            <button type="submit" class="black_btn">Save</button>
        </div>
    </form>
{% endblock %}
