<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Red Hat Display" rel="stylesheet">
    <link href="../static/mood.css" type="text/css" rel="stylesheet" >

    <style>
        h1 {
            text-align: center;
            color: white
        }
        p {
            text-align: center;
            color: white

        }
        body {
            font-family: 'Red Hat Display';font-size: 22px;
        }
        button {
            text-align: center;
        }
    </style>

    <title>Mood Randomizer</title>
    
  </head>  
  <body>

    <div class="navbar">
        <div class="left">
            <a href="">MoodTracker</a>
            <a href="">MoodRandomizer</a>
            <a href="">JoyBot</a>
        </div>
        <div class="right">
            <a href="">Login</a>
        </div>
    </div>

    <h1 style="text-align:center">Mood Randomizer</h1>

    <p>
        I want to feel...
        <select class="selectpicker">
        <option>Relaxed</option>
        <option>Amused</option>
        <option>Motivated</option>
      </select>
    </p>


    <div style="text-align:center;">
        <button type="button" onclick="alert('Hello world!')">Go!</button>
    </div>


</body>

</html>