<!DOCTYPE html>
<html>

<head>
    <link href="../static/MoodRandomizerMotivated.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="nav navbar-default">
        <div class="nav navbar-nav left">
            <a href=""><b>mood tracker</b></a>
            <a href=""><b>mood randomizer</b></a>
            <a href=""><b>JoyBot</b></a>
            <div class="nav navbar-nav right">
                <a href="">log in</a>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <h1>Energized</h1>

    <!-- <div class = "" -->

    <h2>Here's something that might make you energized: </h2>
    <!-- <br> -->
    <iframe width="600" height="315" src="https://www.youtube.com/embed/Lju6h-C37hE">
    </iframe>
    <br>
    <br>

    <button class="hi" type="button">Show me another!</button>

</body>

</html>