{% extends 'base.html' %}

{% block stylesheet %}
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/mood.css" rel="stylesheet">
{% endblock %}


{% block title %}
    JoyBot | MoodTracker
{% endblock %}

{% block content %}
    <div class="datecal">
        <span><img src="../static/img/calendar.png" alt="cal_icon">&nbsp&nbsp 10/28/20</span>
    </div>
    <br>

    <div class="container">
        <div class="profile">
            <!-- <img src="profile.png" alt="profile"> -->
            <div class="userpic">
                <img src="../static/img/user.png" alt="profile pic">
            </div>
            <p>Name</p>
        </div>

        <div class="journal">
            <div class="header">
                <span><p>Journal Entries</p></span>
                <img src="../static/img/plus.png" class="add_entry" alt="add entry">
            </div>
            <div class="wrapper">
                <div class="grid">
                {% for entry in entryData %}
                    <div class="entry">
                        <div class="content">
                            <p class="title">Entry from  {{ entry.date.strftime("%x") }}</p>
                            <p>{{ entry.journal }}</p>
                        </div>
                        <div class="controls">
                            <a href="/mood_rating/{{entry.id}}"><img src="../static/img/edit.png" alt="edit entry" class="edit_entry"></a>
                            <a href="/delete/{{entry.id}}"><img src="../static/img/trash.png" alt="trash" class="trash"></a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="graph">
        matplotlib or plotly?
    </div>
{% endblock %}
