{% extends 'base.html' %}

{% block stylesheet %}
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/MoodRandomizerLaugh.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block title %}
    JoyBot | MoodRandomizer
{% endblock %}

{% block content %}

    <div class="center">

        <h1>Laugh</h1>

        <!-- <div class = "" -->

        <h2>Here's something that might make you laugh: </h2>
        <!-- <br> -->
        <iframe width="600" height="315" src="https://www.youtube.com/embed/LJrvJPz4nM0">
        </iframe>
        <br>
        <br>

        <div style="text-align:center;">
            <button class="hi" type="button">Show me another!</button>
        </div>
    </div>

{% endblock %}
