<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">

        <link href="../static/SignUpPage.css" rel="stylesheet" type="text/css">

        <title>
            Sign Up
        </title>
    </head>

    <body>
         <nav class="nav navbar-default">
            <div class="nav navbar-nav left">
                <a href=""><b>MoodTracker</b></a>
                <a href=""><b>MoodRandomizer</b></a>
                <a href=""><b>JoyBot</b></a>
                <div class="nav navbar-nav right">
                    <a href="">LogIn</a>
                </div>
            </div> 
        </nav>
        
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Sign Up Now!</legend>
                    <div>
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                    <div>
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password }}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit }}
                </div>
                
            </form>
        </div>


        <!--<div class="center" style="color: #ffffff; background-color: transparent;">
            <h1>Sign Up</h1>
        </div>


        <div class="center"> 
            <form>
                <input type="text" id="Username" name="Username" placeholder="Username">
            </form>
        </div>
        <div class="center"> 
            <form>
                <input type="password" id="pwd" name="pwd" placeholder="Password">
            </form>
        </div>
        <div class="center"> 
            <form>
                <input type="password" id="pwd" name="pwd" placeholder="Confirm Password">
            </form>
        </div>
       <div class="center" style="background-color:#A09EFF; width: 450px; line-height: 100px; margin-top: 80px">
           <a href="">Sign Up</a>
       </div>   -->
    </body>
</html>