<!DOCTYPE html>
<html>
    <head>
        <link href="../static/SignUpPage.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
         <nav class="nav navbar-default">
            <div class="nav navbar-nav left">
                <a href=""><b>mood tracker</b></a>
                <a href=""><b>mood randomizer</b></a>
                <a href=""><b>JoyBot</b></a>
            <div class="nav navbar-nav right">
                <a href="">log in</a>
            </div>
        </div> 
         </nav>
        <div class="center" style="color: #ffffff; background-color: transparent;">
            <h1>Sign Up</h1>
        </div>
        <div class="center"> 
            <form>
                <input type="text" id="Username" name="Username" placeholder="Username">
            </form>
        </div>
        <div class="center"> 
            <form>
                <input type="password" id="pwd" name="pwd" placeholder="Password">
            </form>
        </div>
        <div class="center"> 
            <form>
                <input type="password" id="pwd" name="pwd" placeholder="Confirm Password">
            </form>
        </div>
       <div class="center" style="background-color:#A09EFF; width: 450px; line-height: 100px; margin-top: 80px">
           <a href="">Sign Up</a>
       </div>
    </body>
</html>